@charset "utf-8"

$blue:      #42afe3
$green:     #97cd76
$orange:    #f68b39
$purple:    #847bb9
$red:       #ed6c63
$turquoise: #1fc8db
$yellow:    #fce473

$body-background-color: #f5f8fa
$card-header-weight: normal
$family-sans-serif: 'Open Sans', sans-serif
$body-size: 14px

$control-padding-vertical: calc(0.375em - 1px)
$control-padding-horizontal: calc(0.625em - 1px)
$section-padding: 0

$hr-margin: 1rem 0