// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600")
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic')

// Variables
@import "variables.sass"

@import "~bulma"

.navbar
  margin-bottom: 10px

.nav-wrapper
  padding: 1.5em
  background-color: #ffffff
  margin-top: 10px

.image.is-256x256
  height: 256px
  width: 256px
.content.job
  p:not(:last-child)
    margin-bottom: 0.5em